body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #3498db;
    color: #fff;
}

.container {
    text-align: center;
}

input {
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    cursor: pointer;
}

#weatherInfo {
    margin-top: 20px;
}
