body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;;
    padding: 0;
    background-color: #f4f4f4;
}

.container{
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
   border-radius: 8px;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    color: #333;
}

.todo-container {
    margin-top: 20px;
}

.todo-list{
    list-style: none;
    padding: 0;
}

.todo-item{
    display: flex;
    align-items: center;
    margin-top: 10px 0;
}

.task-text{
    flex: 1;
    margin-left: 10px;
   /* border: 2px solid red; */
}

.completed{
    text-decoration: line-through;
    color: #888;
}

.todo-controls {
    display: flex;
    margin-top: 20px;
}

#taskInput{
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 4px;
}

button{
    padding: 8px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #45a049;
}
