body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


#display {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 1.5em;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
}

button {
    border: none;
    padding: 15px;
    cursor: pointer;
    background-color: #e0e0e0;
    transition: background-color 0.3s;
    font-size: 1.2em;
}

button:hover {
    background-color: #d0d0d0;
}

/* Adding Media qoerry
/** Responsive layout for small screen */

@media(max-width:600px){
    .calculator{
        width: 80%;
    }
    .buttons{
        grid-template-columns: repeat(3,1fr);
    }
}
/** Responsive layout for medium screens */
@media(min-width:601px) and (max-width:1200px){
    .calculator{
        width: 60%;
    }
}



/* Add these media queries to the existing styles.css */

/* Responsive layout for small screens */
/* @media (max-width: 600px) {
    .calculator {
        width: 80%;
    }

    .buttons {
        grid-template-columns: repeat(3, 1fr);
    }
} */

/* Responsive layout for medium screens */
/* @media (min-width: 601px) and (max-width: 1200px) {
    .calculator {
        width: 60%;
    }
} */